<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <glsgroup>
                <version>1.2.0</version>
                <model>GlsGroup\Shipping\Model\Carrier\GlsGroup</model>
                <is_online>1</is_online>
                <max_package_weight>1000</max_package_weight>

                <!-- Default elements -->
                <active>0</active>
                <title>GLS</title>
                <parcelshop_title>GLS</parcelshop_title>
                <sort_order>0</sort_order>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>0</sallowspecific>

                <general>
                    <logging_group>
                        <loglevel>400</loglevel>
                    </logging_group>
                    <cut_off_times backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized">
                        <![CDATA[
                        {
                            "_1602502601932_932":{"day":"1","time":"16:00"},
                            "_1602502739056_56":{"day":"2","time":"16:00"},
                            "_1602502744398_398":{"day":"3","time":"16:00"},
                            "_1602502747873_873":{"day":"4","time":"16:00"},
                            "_1602502750891_891":{"day":"5","time":"16:00"}
                        }
                        ]]>
                    </cut_off_times>
                    <allowed_methods>standard</allowed_methods>
                </general>
                <account>
                    <api_password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                    <broker_reference>Magento2viaGLS</broker_reference>
                </account>
                <checkout>
                    <method_title>Standard</method_title>
                </checkout>
                <checkout_parcelshop>
                    <parcelshop_method_title>PaketShop/PaketStation</parcelshop_method_title>
                    <parcelshop_price>
                        [
                        {
                        "subtotal": "100",
                        "dest_country": "AT",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "*",
                        "price": "0"
                        },
                        {
                        "subtotal": "*",
                        "dest_country": "AT",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "120.1000",
                        "price": "37.5000"
                        },
                        {
                        "subtotal": "*",
                        "dest_country": "AT",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "90.1000",
                        "price": "37.5000"
                        },
                        {
                        "subtotal": "*",
                        "dest_country": "AT",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "63.5100",
                        "price": "27.2500"
                        },
                        {
                        "subtotal": "*",
                        "dest_country": "AT",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "31.5999",
                        "price": "18.1700"
                        },
                        {
                        "subtotal": "*",
                        "dest_country": "AT",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "0.0000",
                        "price": "9.0800"
                        },
                        {
                        "subtotal": "100",
                        "dest_country": "DE",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "*",
                        "price": "0"
                        },
                        {
                        "subtotal": "*",
                        "dest_country": "DE",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "127.0000",
                        "price": "37.8200"
                        },
                        {
                        "subtotal": "*",
                        "dest_country": "DE",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "94.5100",
                        "price": "23.1900"
                        },
                        {
                        "subtotal": "*",
                        "dest_country": "DE",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "63.5100",
                        "price": "17.9800"
                        },
                        {
                        "subtotal": "*",
                        "dest_country": "DE",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "31.5100",
                        "price": "11.6000"
                        },
                        {
                        "subtotal": "*",
                        "dest_country": "DE",
                        "dest_region": "*",
                        "dest_zip": "*",
                        "weight": "0.0000",
                        "price": "5.8000"
                        }
                        ]
                    </parcelshop_price>
                </checkout_parcelshop>
                <shipment_defaults>
                    <label_size>A6</label_size>
                    <package_default_weight>0.1</package_default_weight>
                    <terms_of_trade>20</terms_of_trade>
                </shipment_defaults>
                <additional_services>
                    <flexdelivery_identity>support</flexdelivery_identity>
                </additional_services>
            </glsgroup>
        </carriers>
    </default>
</config>
